infra/lib/asl/sns-posting.asl.json
{
  "StartAt": "WaitForDbReady",
  "States": {
    "WaitForDbReady": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "TimeoutSeconds": 900,
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "${EcsClusterArn}",
        "TaskDefinition": "${DbReadinessCheckTaskDefFamily}",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["${PublicSubnetId1}", "${PublicSubnetId2}"],
            "SecurityGroups": ["${DbReadinessCheckSgId}"],
            "AssignPublicIp": "ENABLED"
          }
        }
      },
      "ResultPath": null,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleError"
        }
      ],
      "Next": "RunSnsPostBatchTask"
    },
    "RunSnsPostBatchTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "TimeoutSeconds": 3600,
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "${EcsClusterArn}",
        "TaskDefinition": "${SnsPostBatchTaskDefFamily}",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["${PublicSubnetId1}", "${PublicSubnetId2}"],
            "SecurityGroups": ["${BatchSgId}"],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "sns-post-batch",
              "Environment": [
                { "Name": "SET_CODE", "Value.$": "$.set_code" },
                { "Name": "EXECUTION_ARN", "Value.$": "$$.Execution.Id" }
              ]
            }
          ]
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "ResultPath": null,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleError"
        }
      ],
      "End": true
    },
    "HandleError": {
      "Type": "Fail",
      "Error": "SnsPostBatchFailed",
      "Cause": "SNS post batch task failed after retries"
    }
  }
}
